
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@ViewBag.Greetings (from view)</h1>
    <p>
        What about crazy party tonight? 
    </p> <br/>
    @Html.ActionLink("RSVP Now", "RsvpForm")
</body>
</html>
