@model PartyInvites.Models.GuestInfo
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpFrom</title>
</head>
<body>
    <div asp-validation-summary="All"></div>
     <form asp-action="RsvpForm" method="post">
         <p>
             <label asp-for="Name" class="control-label">Name</label>
             <input asp-for="Name" class="form-control" />
         </p>

         <p>
             <label asp-for="Phone" class="control-label">Phone</label>
             <input asp-for="Phone" class="form-control" />
         </p>

         <p>
             <label asp-for="Email" class="control-label">Email</label>
             <input asp-for="Email" class="form-control" />
         </p>

         <p>
             <label>Will you attend?</label>
             <select asp-for="WillAttend">
                 <option value="">Choose an option</option>
                 <option value="true">Yes, I'll be there</option>
                 <option value="false">No, I can't come</option>
             </select>
         </p>
         
         <button type="submit">Submit RSPV</button>
     </form>

     <a asp-action="Index">Back to Invite</a>
</body>
</html>
