@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="text-center">
    <h2>Thanks for your attention!</h2>
    <p>
        You can see guest list <a class="nav-link" asp-action="GuestList">here</a>.
    </p>
</body>
</html>
